<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="download.upload" method="post" enctype="multipart/form-data">
		<table class="imgTbl">
			<tr><th colspan="2">DOWNLOAD</th></tr>
			<tr>
				<td align="center">
					제목 <input name="fileD_name">
				</td>
			</tr>
			<tr>
				<td align="center">
					파일 <input name="fileD" type="file">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button>UPLOAD</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>