<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Calculator</title>
<link rel="stylesheet" href="oct281.css">
</head>
<body>
	<form action="calculate.xy">
		<table class="Tbl">
			<tr>
				<th colspan="2">사칙연산</th>
			</tr>
			<tr>
				<td class="td1" align="right">x</td>
				<td align="center">
					<input name="x" placeholder=" 첫 번째 숫자">
				</td>
			</tr>
			<tr>
				<td class="td1" align="right">y</td>
				<td align="center">
					<input name="y" placeholder=" 두 번째 숫자">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button>계산하기</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>