<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="bmi.css">
</head>
<body>
	<form action="calculate.go">
		<table class="bmiTbl">
			<tr>
				<th>BMI 계산기</th>
			</tr>
			<tr>
				<td align="center">
					<input name="name" placeholder="이름">
				</td>
			</tr>
			<tr>
				<td align="center">
					<input name="height" placeholder="키 (cm)">
				</td>
			</tr>
			<tr>
				<td align="center">
					<input name="weight" placeholder="몸무게 (kg)">
				</td>
			</tr>
			<tr>
				<td align="center">
					<button>계산하기</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>