<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="calculate.go">
		<table>
			<tr>
				<th><h1>계산기</h1></th>
			</tr>
			<tr>
				<td>
					품명
				</td>
			</tr>
			<tr>
				<td>
					<input name="name">
				</td>
			</tr>
			<tr>
				<td>
					단가
				</td>
			</tr>
			<tr>
				<td>
					<input name="price">
				</td>
			</tr>
			<tr>
				<td>
					수량
				</td>
			</tr>
			<tr>
				<td>
					<input name="num">
				</td>
			</tr>
			<tr>
				<td align="center">
					<button id="calc">계산</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>