<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="second.upload" method="post" enctype="multipart/form-data">
		<table class="imgTbl">
			<tr><th colspan="2">WEATHER</th></tr>
			<tr>
				<td align="center">
					날씨 <input name="weather">
				</td>
			</tr>
			<tr>
				<td align="center">
					사진 <input name="pic" type="file">
				</td>
			</tr>
			<tr>
				<td align="center">
					사진2 <input name="pic3" type="file">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button>UPLOAD</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>