<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="imgFile.upload" method="post" enctype="multipart/form-data">
		<table class="imgTbl">
			<tr><th colspan="2">이미지 업로드</th></tr>
			<tr>
				<td align="center">
					제목 <input name="imgName">
				</td>
			</tr>
			<tr>
				<td align="center">
					사진 <input name="imgFile" type="file">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button>UPLOAD</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>